<div class="row text-center"  >
  <div class="col" style="background-color:#fc0000" >
    <h1 >Pokemon</h1>
    <h2>{{contador}}</h2>

      <img src = "{{urlImage}}" alt ="" width="200" height="200">

      <h2>{{name}}</h2>

  </div>

</div>

<div class="row text-center">

  <div class="col" style="background-color:#000000">

    <button (click)="incrementar()" class="btn btn-primary">Incrementar</button>
    <button (click)="decrementar()" class="btn btn-info">Decrementar</button>
  </div>
</div>

